<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Practica</title>
        <meta charset="UTF-8" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>    
        <script th:src="@{/js/rutinas.js}" type="text/javascript"></script>
        <link rel="stylesheet" href="../../static/css/style.css">
    </head>
<body>
    <!-- Header -->
    <header th:fragment="header" class="header">
        <!-- Nav -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Inicio -->
                <a th:href="@{/}" class="navbar-brand">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Arboles -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/arboles}">Arboles</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Footer -->
    <footer th:fragment="footer" class="bg-light bg-gradient text-black p-2 fixed-bottom">
        <div class="container">
            <div class="col">
                <p class="lead text-center mt-4">
                    &COPY Derechos de autor reservados - 2024
                </p>
            </div>
        </div>
    </footer>

    <!-- Main Content -->
    <main th:fragment="main" class="main">
        <div class="container px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Registro de Árboles</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Bienvenido a la aplicación de registro de árboles. 
                    Aquí podrás llevar un registro con los datos de tus distintos árboles, lo que facilitará el manejo de información para tu investigación.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a th:href="@{/arboles}" class="btn btn-dark btn-lg px-4 gap-3">Ver Registros</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>